<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>{{ page.title }}</title>
		<meta name="description" content="Parallax Slider by Oozou" />
		<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.png"> 
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<!-- Edit Below -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.oozou.slider.js"></script>
    
    <link rel="stylesheet" href="{{ site.baseurl }}/css/screen.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/oozou.slider.css" />
	</head>